<% for (event of eventsArray) { %>
    <tr>
        <td>
            <%= event.title %>
        </td>
        <td>
            <%= event.organization %>
        </td>
        <td>
            <a href="/admin/update/<%= event._id %>">
                <button type="button" class="edit-button">Edit</button>
            </a>
        </td>
        <td>
            <form action="/admin/delete/<%= event._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded"> 
                <input type="submit" class="delete-button" value="Delete">
            </form>
        </td>
        <td>
            <% if(event.needsReview===true) { %>
            <form action="/admin/approve/<%= event._id %>?_method=PUT" method="POST">
                <input type="submit" class="approve-button" value="Approve">
            </form>
            <% } %>
        </td>
    </tr>
<% } %>