<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

           <main>
                <div class="wrapper-inner">
                    <section>
                        <div class="small-card">
                            <div class="small-search">
                                <form class="search-form" action="/events/results" method="GET">
                                    <input type="text" name="zipCode" id="zipCode" class="small-search-term" placeholder="Enter Zip Code" value="<%= zipCode %>">
                                    <button type="submit" class="small-search-button">
                                        <i class="fas fa-search fa-lg"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="small-submit-event">
                                <a href="/events/submit-event">Submit <span class="an">an</span> event <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="search-results-container">
                            <% for (event of eventsArray) { %>
                                <div class="event-item">

                                    <div class="logo-container">
                                        <!-- The heading will serve as a stand-in when a logo image doesn't exist or isn't provided -->
                                        <h2><%= event.city.substring(0, 3).toUpperCase() %></h2>
                                        <!-- <img href="#" alt="logo"> -->
                                    </div>
                                    
                                    <div class="event-listing">
                                        <ul>
                                            <li><h3><%= event.title %></h3></li>
                                            <li><%= event.organization %></li>
                                            <li><%= event.street %>, <%= event.city %>, <%= event.state %> <%= event.zipCode %></li>
                                            <li><%= moment(event.startDatetime).format('MMMM Do YYYY, h:mm a') %></li>
                                            <li><%= moment(event.endDatetime).format('MMMM Do YYYY, h:mm a') %></li>
                                            <li><%= event.description %></li>
                                            <li><a href="<%= event.website %>"><%= event.website %></a></li>
                                        </ul>
                                    </div>
                                    
                                    <div class="more-link">
                                        <a href="/events/<%= event._id %>">More...</a>
                                    </div>

                                </div>
                            <% } %>
                        </div>
                    </section>
                </div>
           </main>
    
<%- include('../partials/footer') -%>

</html>